{{ ansible_managed | comment }}

{% from "macros.j2" import build_conf with context -%}

{% for filter in fluentd_filters %}
<filter{% if filter._section_args is defined %} {{ filter._section_args }}{% endif %}>
{% for key, value in filter.items() %}
{% if key != "_section_args" %}
{{ build_conf(key, value, 1) }}
{% endif %}
{% endfor %}
</filter>

{% endfor -%}
