{{ ansible_managed | comment }}

{% from "macros.j2" import build_conf with context -%}

{% for source in fluentd_sources %}
<source>
{% for key, value in source.items() %}
{{ build_conf(key, value, 1) }}
{% endfor %}
</source>

{% endfor -%}
